a {
    color: #3366a2 !important;
    font-weight: lighter !important;
    width: 243px;
    cursor: pointer;
}

.nav-link i {
    width: 23px;
    margin-right: 4px;
}

a:hover  {
    color: white !important;
    border-radius: 20.5px;
    background-color: #3366a2;  
}

@media(min-width:767px) {
    .cerrar-sesion-mobile {
        display: none;
    }
}