<li class="nav-item text-nowrap">
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="fa fa-user"></i>Mi perfil
    </a>
</li>
<li class="nav-item text-nowrap">
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="fa fa-road"></i>Reserva de viaje
    </a>
</li>
<li class="nav-item text-nowrap">
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="fa fa-road"></i>Mis Viajes
    </a>
</li>
<li class="nav-item text-nowrap">
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="fa fa-credit-card"></i>Mis Pagos
    </a>
</li>
<li class="nav-item text-nowrap">
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="far fa-money-bill-alt"></i>Crédito Awto
    </a>
</li>
<li class="nav-item text-nowrap">
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="fa fa-gift"></i>Promociones
    </a>
</li>
<li class="nav-item text-nowrap">
    <a class="nav-link active" (click)="cerrarSesion()">
        <i class="fas fa-coins"></i>Bolsas Prepago
    </a>
</li>
<li class="nav-item text-nowrap">
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="fas fa-users"></i>Referenciar
    </a>
</li>
<li class="nav-item text-nowrap cerrar-sesion-mobile" >
    <a class="nav-link" (click)="cerrarSesion()">
        <i class="fas fa-sign-out-alt"></i> CERRAR SESION
    </a>
</li>