.imagen-logo {
    width: 126px;
    height: 41px;
}

a {
    cursor: pointer;
}

@media(min-width:767px){
    .hamburguesa {
        display: none;
    }

    .imagen-logo {
        margin-left: 30px;
    }
}

.hamburguesa {
    right: 0;
    position: absolute;
    top: 20px;
    font-size: 29px;
    color: #1a67a7;
}

.menu-lateral {
    padding-top: 33px;
    padding-left: 30px;
}

.sidebar-sticky{
    background-color: white;   
}

.sidebar {
    margin-left: 15px;
}