  <form style="padding: 15px 20px;">
    
    <div class="form-group">
      <label>País</label>
      <input id="pais" name="pais" class="form-control" required minlength="1" [(ngModel)]="busqueda.pais">
    </div>
    
    <div class="form-group">
      <label for="exampleInputPassword1">Clave</label>
      <input id="password" name="password" class="form-control" required minlength="1" [(ngModel)]="loginUser.password">
    </div>
    
    <button (click)="login()" *ngIf="this.showLoader === false"> Iniciar Sesión </button>

    <div class="loader loader--style6" title="5" *ngIf="this.showLoader">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
      <rect x="0" y="7.72768" width="4" height="15.5446" fill="#333">
      <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
      <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0s" dur="0.6s" repeatCount="indefinite"></animate>
      </rect>
      <rect x="10" y="11.7277" width="4" height="7.54464" fill="#333">
      <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
      <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.15s" dur="0.6s" repeatCount="indefinite"></animate>
      </rect>
      <rect x="20" y="10.2723" width="4" height="10.4554" fill="#333">
      <animate attributeName="height" attributeType="XML" values="5;21;5" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
      <animate attributeName="y" attributeType="XML" values="13; 5; 13" begin="0.3s" dur="0.6s" repeatCount="indefinite"></animate>
      </rect>
      </svg>
    </div>


  </form>
</div>


País, razón social y nombre y un botón buscar