<div class=" box-bolsas-prepago">
    <div class="row">

        <div class="col-sm">
            <h1 class="Bolsas-prepago-Awto">
                Bolsas prepago Awto
            </h1>
            <p class="Lorem-ipsum-dolor-si">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit condimentum nisl:
            </p>       
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid">
                <p>
                    <span class="coin-awto"></span>
                    <span class="carga-70000"> carga $70.000 </span>
                    <span class="y-te-regalamos-en-us">y te regalamos en uso </span>
                </p>
                <table class="tabla-de-monto">
                    <tr>
                        <td class="signo-de-peso">$</td>
                        <td class="cantidad">5.000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="Rectangle">Comprar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid">
                <p>
                    <span class="coin-awto"></span>
                    <span class="carga-70000"> carga $70.000 </span>
                    <span class="y-te-regalamos-en-us">y te regalamos en uso </span>
                </p>
                <table class="tabla-de-monto">
                    <tr>
                        <td class="signo-de-peso">$</td>
                        <td class="cantidad">5.000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="Rectangle">Comprar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid">
                <p>
                    <span class="coin-awto"></span>
                    <span class="carga-70000"> carga $70.000 </span>
                    <span class="y-te-regalamos-en-us">y te regalamos en uso </span>
                </p>
                <table class="tabla-de-monto">
                    <tr>
                        <td class="signo-de-peso">$</td>
                        <td class="cantidad">5.000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="Rectangle">Comprar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid">
                <p>
                    <span class="coin-awto"></span>
                    <span class="carga-70000"> carga $70.000 </span>
                    <span class="y-te-regalamos-en-us">y te regalamos en uso </span>
                </p>
                <table class="tabla-de-monto">
                    <tr>
                        <td class="signo-de-peso">$</td>
                        <td class="cantidad">5.000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="Rectangle">Comprar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid">
                <p>
                    <span class="coin-awto"></span>
                    <span class="carga-70000"> carga $70.000 </span>
                    <span class="y-te-regalamos-en-us">y te regalamos en uso </span>
                </p>
                <table class="tabla-de-monto">
                    <tr>
                        <td class="signo-de-peso">$</td>
                        <td class="cantidad">5.000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="Rectangle">Comprar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid">
                <p>
                    <span class="coin-awto"></span>
                    <span class="carga-70000"> carga $70.000 </span>
                    <span class="y-te-regalamos-en-us">y te regalamos en uso </span>
                </p>
                <table class="tabla-de-monto">
                    <tr>
                        <td class="signo-de-peso">$</td>
                        <td class="cantidad">5.000</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="Rectangle">Comprar</button>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>

    
</div>


