<div class=" box-bolsas-prepago container">
    <div class=" row ">

        <div class="col-sm">
            <h1 class="Bolsas-prepago-Awto">
                Bolsas prepago Awto
            </h1>
            <p class="Lorem-ipsum-dolor-si">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque blandit condimentum nisl:
            </p>       
        </div>
    </div>

    <div class=" row ">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid"> hola </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid"> hola </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid"> hola </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid"> hola </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid"> hola </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-4">
            <div class="Background-package img-fluid"> hola </div>
        </div>
    </div>

    
</div>


