.box-bolsas-prepago {
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 28px 27px;
  margin: 20px 30px;
}

@font-face {
  font-family: PTSans;
  src: url(../../../assets/fonts/PT_sans/PT_Sans-Web-Regular.ttf);
}

.Bolsas-prepago-Awto {
    font-family: PTSans;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #818181;
}

.Lorem-ipsum-dolor-si {
    font-family: PTSans;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #818181;
}

.Background-package {
    width: 306px !important;
    height: 206px;
    display: table;
    background-image: url(../../../assets/img/background-package.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto 23px auto;
}

.coin-awto {
    width: 69px;
    height: 50px;
    display: inline-block;
    background-image: url(../../../assets/img/coin-awto.png);
    background-size: contain;
}

.container-fluid {
  min-height: 100% !important;
}

@media(max-width:767px) {
    .box-bolsas-prepago {
        border-radius: 4px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: #ffffff;
        padding: 12px 17px;
        margin: 8px 9px;
    }
    .box-bolsas-prepago .Background-package {
        width: 265px !important;    
    }

    .carga-70000 {
        font-size: 23px !important;
    }

    .y-te-regalamos-en-us {
        font-size: 19px !important;
    }

    .cantidad {
        font-size: 56px !important;
    }

    .Rectangle {
        width: 250px;
    }
    
}

@font-face {
    font-family: "CoreRhino65BoldW01-Regular";
    src: url("//db.onlinewebfonts.com/t/8731c5e51bb70bdf552900a050d2e209.eot");
    src: url("//db.onlinewebfonts.com/t/8731c5e51bb70bdf552900a050d2e209.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/8731c5e51bb70bdf552900a050d2e209.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/8731c5e51bb70bdf552900a050d2e209.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/8731c5e51bb70bdf552900a050d2e209.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/8731c5e51bb70bdf552900a050d2e209.svg#CoreRhino65BoldW01-Regular") format("svg");
}

.carga-70000 {
    font-family: CoreRhino65BoldW01-Regular;
    font-size: 28px;
    font-weight: lighter;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.y-te-regalamos-en-us {
    width: 240px;
    height: 27px;
    font-family: CoreRhino65BoldW01-Regular;
    font-size: 22px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    color: #ffffff;
    margin-left: 50px;
}

.signo-de-peso {
    font-family: CoreRhino65BoldW01-Regular;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffd038;
    text-shadow: -1px 2px 3px rgba(104, 95, 95, 0.84);
}

.cantidad {
    font-family: CoreRhino65BoldW01-Regular;
    font-size: 73px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffd038;
    text-shadow: -1px 2px 3px rgba(104, 95, 95, 0.84);
}

.tabla-de-monto {
    margin-top: -28px;
    margin-left: auto;
    margin-right: auto;
}

.Rectangle {
    display: block;
    width: 266px;
    height: 38px;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: -8px;
    color: #00a3da;
    font-family: PTSans;
    font-size: 15px;

}




